{% extends "::base.html.twig" %}

{% block body %}
    <h1>Roster</h1>
    <ul>
        {% for character in user.characters %}
            <li>{{ character.name }} <a href="{{ path('character.roster.select', {id:character.id}) }}">select</a></li>
        {% endfor %}
        <li><a href="{{ path('character.roster.create') }}">Create a new character</a></li>
    </ul>
{% endblock %}
