{% extends "::base.html.twig" %}

{% block body %}
    <h1>Shop: {{ shop.name }}</h1>
    <p>Items for sell:
        <ul>
            {% for shopItem in shop.items %}
            <li>
                {{ shopItem.item.name }}
                - {{ calculateSellPrice(shop, shopItem.item) }}
                - <a href="">Buy</a>
            </li>
            {% endfor %}
        </ul>
    </p>
    <p>
        Your items:
        <ul>
            <li></li>
        </ul>
    </p>
    <img src="{{ asset('bundles/shop/images/blacksmith.png') }}" />
{% endblock %}
