{% extends "::base.html.twig" %}

{% block body %}
    <h1>Inventory</h1>

    <ul>
        {% for characterItem in items %}
        <li>
            {{ characterItem.item.name }}
            {% if characterItem.equipped %}
            <a href="{{ path('character.inventory.unequip', {id:characterItem.id}) }}">Unequip</a>
            <a href="{{ path('character.inventory.dpstest', {id:characterItem.id}) }}">DPS test</a>
            {% else %}
            <a href="{{ path('character.inventory.equip', {id:characterItem.id}) }}">Equip</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}
