{% extends "::base.html.twig" %}

{% block body %}
    <h1>Inventory</h1>

    <ul>
        {% for characterItem in items %}
        <li>
            {{ renderItem(characterItem.item)|raw }}
            {%  if characterItem.item.isEquipable %}
                {% if characterItem.equipped %}
                <a href="{{ path('character.inventory.unequip', {id:characterItem.id}) }}">Unequip</a>
                {% else %}
                <a href="{{ path('character.inventory.equip', {id:characterItem.id}) }}">Equip</a>
                {% endif %}
            {% endif %}
            {% if characterItem.item.isUsable %}
            <a href="{{ path('character.inventory.use', {id:characterItem.id}) }}">Use</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}
