{% extends "::base.html.twig" %}

{% block body %}
<h1>Lista de Mapa</h1>

<p>
    {% for map in mapList %}
    <li><a href="{{ path('map.view') }}">{{ map.name }}</a></li>
    {% endfor %}
</p>

{% endblock %}
