//globales
.module-roster {
    border:1px solid @color-border;
    width:640px;
    margin:0px auto;
    ul {
        padding:20px 0px;
        li {
            padding:20px;
            .roster-portrait {
                width:50px;
                display:inline-block;
                vertical-align: bottom;
            }
            .roster-name {
                width:250px;
                display:inline-block;
                font-size:20px;
            }
            .roster-info {
                width:200px;
                display: inline-block;
            }
            .roster-dead {
                font-weight: bold;
            }
            &:hover {
                background-color:@color-bg-dark;
            }
        }
    }
    .roster-new {
        margin:20px;
    }
    .module-roster-image {
        border-top:2px solid @color-border;
        margin-top:20px;
    }
}

.module-roster-create {
    width:650px;
    border:1px solid @color-border;
    margin:0px auto;
    form {
        padding:20px 0px;
    }
    .roster-filter {
        margin-left:112px;
        margin-bottom:5px;
    }
    .roster-portrait {
        .border-radius(6px);
        border:1px solid #CDC3B7;
        margin-left:112px;
        margin-bottom:20px;
        width:500px;
        padding:10px;
        overflow-y:scroll;
        height:430px;
        background-color:@color-bg-dark;
        img {
            padding:4px;
            &:hover {
                background-color:#fff;
                cursor:pointer;
            }
            &.active {
                background-color:#fff;
                .border-radius(6px);
                box-shadow: 0px 0px 10px 5px #fff;
                .opacity(0.5);

            }
        }
    }
}

.module-death {
    position:relative;
    img {
        border:1px solid @color-border;
    }
    .history {
        position:absolute;
    }
}