.icon-mini (@src) {
    display:inline-block;
    width:30px;
    height:30px;
    background: url(@src) no-repeat;
    vertical-align: middle;
}

.icon-mini-void {.icon-mini('')};

.char-gold {.icon-mini('../img/char/gold.png');}
.char-hp {.icon-mini('../img/char/hp.png');}
.char-level {.icon-mini('../img/char/level.png');}
.char-damage {.icon-mini('../img/char/damage.png');}
.char-defense {.icon-mini('../img/char/defense.png');}