.module-map {

    .map-actions {
        //border:1px solid #775D39;
        //width:900px;
        //margin:0px auto;
        .clearfix;
        margin-bottom:20px;
        >div {
            float:left;
            width:42%;
            margin:10px;
        }
        .map-links {
            width: 376px;
            height: 491px;
            background: url('../img/modules/map-dungeon.png') no-repeat;
            ul {
                background-color: #FAF3E3;
                border:1px solid #775D39;
                padding:10px;
            }
        }
        .map-travel {

        }
        .map-others {
            ul {
                li {

                }
            }
        }
        .map-shop {
        }
        .map-restpoint {
        }
        .map-treasure {
        }
    }

    .map-wrapper {
        position: relative;
        .map-poi {
            position:absolute;
            width:30px;
            height:30px;
            .border-radius(6px);
            border:2px solid #fff;

            &:hover {
                box-shadow: 0px 0px 10px 5px @color-bg-dark;
            }
        }
        .current-poi {
            border:2px solid #775D39;
            box-shadow: 0px 0px 10px 5px #fff;
        }
    }
}

.module-travel {
    .battle-log {
        margin-top:20px;
        border:1px solid #775D39;
        .clearfix();
        img {
            float:left;
        }
        .log {
            font-size:14px;
            line-height:18px;
            padding:20px;
            height:519px;
            overflow-y:scroll;
            background-color: #E1DACA;
        }
    }
    .battle-win {
        margin-top:20px;
    }
    .battle-lose {
        margin:0px auto;
        margin-top:20px;
        border:1px solid #775D39;
        width:640px;
    }
}

.module-rest {

}