.module-map {

    .map-actions {
        margin-bottom:20px;
        .map-links {
            margin-top:20px;
            width: 376px;
            height: 491px;
            background: url('../img/modules/map-dungeon.png') no-repeat;
            ul {
                background-color: @color-bg;
                border:1px solid @color-border;
                padding:10px;
            }
        }
        .map-shop {
            margin-top:20px;
        }
        .map-restpoint {
            margin-top:20px;
        }
        .map-treasure {
            margin-top:20px;
        }
    }

    .map-wrapper {
        position: relative;
        .map-poi {
            position:absolute;
            width:30px;
            height:30px;
            border:2px solid @color-border;
            .border-radius(6px);
            box-shadow: 0px 0px 10px 5px #fff;
            &:hover {
            }
        }
        .current-poi {
        }
    }
}

.module-travel {
    .battle-log {
        margin-top:20px;
        border:1px solid @color-border;
        .clearfix();
        img {
            float:left;
        }
        .log {
            font-size:14px;
            line-height:18px;
            padding:20px;
            height:519px;
            overflow-y:scroll;
            background-color: @color-bg-dark;
        }
    }
    .battle-win {
        margin-top:20px;
    }
    .battle-lose {
        margin:0px auto;
        margin-top:20px;
        border:1px solid @color-border;
        width:640px;
    }
}