{% if gender == constant('Game\\CompanionBundle\\Entity\\Companion::GENDER_MALE') %}
<a class="has-tooltip help-tooltip" title="Male">
    Male
</a>
{% elseif gender == constant('Game\\CompanionBundle\\Entity\\Companion::GENDER_FEMALE') %}
<a class="has-tooltip help-tooltip" title="Female">
    Female
</a>
{% endif %}