{% if gender == constant('Game\\CompanionBundle\\Entity\\Companion::GENDER_MALE') %}
<a class="has-tooltip help-tooltip" title="Male">
    <img src="{{ asset('bundles/ui/img/companion/gender/male.png') }}" />
</a>
{% elseif gender == constant('Game\\CompanionBundle\\Entity\\Companion::GENDER_FEMALE') %}
<a class="has-tooltip help-tooltip" title="Female">
    <img src="{{ asset('bundles/ui/img/companion/gender/female.png') }}" />
</a>
{% endif %}