{% if others|length > 0 %}
    <div class="map-others history">
        Other adventurers nearby:
        <ul>
            {% for other in others %}
                <li>{{ other.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}